
.recipe-details-image-rounded{
    border:1px solid #3CB371;
    border-radius:5px;
}
.recipe-details-metadata{
    list-style-type:none;
}
.lemonada{
    font-family: 'Lemonada', sans-serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

.recipe-title{
    font-size:2.0em;
}

.text-decoration-container {
    overflow: hidden;
    text-align: center;
}

.text-decoration-container h2 {
    display: inline-block;
    padding: 0 15px;
    position: relative;
  }
  
.text-decoration-container h2:before,.text-decoration-container h2:after {
    background: #000;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
      top: 50%;
    width: 400%;
}

.text-decoration-container h2:before {
    right: 100%;
}

.text-decoration-container h2:after {
    left: 100%;
}

.tag{
    padding:3px;
    margin:5px;
    border-radius:3px;
    color:#FFF;
}

.ingredient-item{
    list-style-type: square;
}

.step-item{
    list-style-type:none;
}

.step-item:not(:last-child){
    border-bottom:1px inset grey;
}
.step-number{
    font-size:2.5em;
}
.recipe-details-user-avatar{
    height:35px;
    max-height:35px;

    width:35px;
    max-width:35px;
}

#comment-input{
    resize:none;
    height:150px;
    max-height:150px;
    overflow-y:auto;

}
