<div class="row mt-1">
  <div class="col-12 text-center">
    <h1 class="lemonada recipe-title">{{recipeData.name}}</h1>
    <img src="http://localhost:8080/api/recipe/{{recipeData.id}}/picture" class="w-75 recipe-details-image-rounded" alt="user image of the recipe">
    <div class="text-decoration-container mt-3"><h2 class="roboto">Rating: {{recipeData.rating}}</h2></div>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <span class="tag d-inline-block bg-primary mt-1" *ngFor="let tag of recipeData.tags" href="#">{{tag}} </span>
  </div>
  <div class="col-6 text-right">
    <ul class="recipe-details-metadata">
      <li class="my-2">
        <img class="recipe-details-user-avatar mr-3" src={{recipeData.creator.avatar}} alt="user avatar">
        <span class="font-weight-bold roboto">{{recipeData.creator.username}}</span>
      </li>
      <li>
        <span class="roboto">{{recipeData.createdAt|date:'yyyy-MM-dd'}}</span>
      </li>
      <li>
        <span class="font-weight-bold">Difficulty: </span>
        <span class="roboto">{{recipeData.difficulty}}</span>
      </li>
      <li>
        <span class="font-weight-bold">Ready in: </span>
        <span class="roboto">{{recipeData.readyIn}} mins</span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12 text-justify">
    <h2 class="roboto font-weight-bold">Story:</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque amet assumenda nemo. Voluptatum quis eaque odit ut itaque magni repellendus a, autem reprehenderit! Quidem laborum dolores harum vero hic sapiente.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque amet assumenda nemo. Voluptatum quis eaque odit ut itaque magni repellendus a, autem reprehenderit! Quidem laborum dolores harum vero hic sapiente.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque amet assumenda nemo. Voluptatum quis eaque odit ut itaque magni repellendus a, autem reprehenderit! Quidem laborum dolores harum vero hic sapiente.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ingredient-container">
    <h2 class="roboto font-weight-bold">Ingredients:</h2>
    <ul>
      <li class="ingredient-item mb-2" *ngFor="let ingredient of recipeData.ingredients">
        <span>{{ingredient.name}} - </span>
        <span>{{ingredient.quantity}}</span>
      </li>
    </ul>
    <button (click)="addToShopList()" class="w-100 mt-auto btn btn-success">Add to shoplist!</button>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 steps-container">
    <h2 class="text-right roboto font-weight-bold">Steps:</h2>
    <ul>
      <li class="step-item mb-2" *ngFor="let step of recipeData.steps">
        <div class="float-left w-25">
          <span class="step-number">{{step.step}}</span>
        </div>
        <div class="text-justify float-right w-75">
          <p>{{step.description}}</p>
        </div>
        <div class="clearfix"></div>
      </li>
    </ul>
  </div>
</div>
<div clas="row">
  <div class="col-12 text-decoration-container"><h2 class="roboto">Comments</h2></div>
  <div class="col-12 comment-input-container mb-3">
    <textarea id="comment-input" class="col-12" [(ngModel)]="userComment" #commentInput>{{userComment}}</textarea>
    <button class="btn btn-success mx-auto" (click)="addComment()" [disabled]="isUserCommentInvalid()">Add comment!</button>
  </div>
  <ng-container *ngIf="commentData.length>0" >
    <app-comment *ngFor="let comment of commentData" [data]="comment"></app-comment>
  </ng-container>
  <ng-container *ngIf="commentData.length==0">
    <h2>It seems like there aren't any comments here...<small class="text-muted">Maybe you should make some?</small></h2>
  </ng-container>
</div>