<form #fridgeForm="ngForm" (ngSubmit)="fridgeSearch(fridgeForm.form)" class="flex-column justify-content-between h-100 text-center">
    <div class="form-group w-100">
      <span class="mx-auto">Include these items: </span>
      <input type="text" class="mx-auto mt-2 form-control w-75" id="fridgeFormInclude1" name="fridgeFormInclude1" ngModel #username="ngModel">
      <input type="text" class="mx-auto mt-2 form-control w-75" id="fridgeFormInclude2" name="fridgeFormInclude2" ngModel #username="ngModel">
      <input type="text" class="mx-auto mt-2 form-control w-75" id="fridgeFormInclude3" name="fridgeFormInclude3" ngModel #username="ngModel">
      <!-- <input type="text" class="mx-auto mt-2 form-control w-75" id="fridgeFormInclude4" name="fridgeFormInclude4" ngModel #username="ngModel"> -->
    </div>
    
    <div class="form-group w-100">
      <span class="mx-auto">Exclude these items: </span>
      <input type="text" class="mx-auto mt-2 form-control w-75" id="fridgeFormExclude1" name="fridgeFormExclude1" ngModel #username="ngModel">
      <input type="text" class="mx-auto mt-2 form-control w-75" id="fridgeFormExclude2" name="fridgeFormExclude2" ngModel #username="ngModel">
      <input type="text" class="mx-auto mt-2 form-control w-75" id="fridgeFormExclude3" name="fridgeFormExclude3" ngModel #username="ngModel">
    </div>
    <button type="submit" class="btn btn-success btn-sm w-100 sajt" [disabled]="!fridgeForm.form.valid">Search!</button>
  </form>