.carousel-caption {
    background: rgba(0, 0, 0, 0.35);
}

#featured-recipes{
    width:100% !important;
    max-width:100% !important;
}


.carousel-control-next, .carousel-control-prev{
    cursor:pointer;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color:rgba(0, 0, 0, 0.35)
}
