<div class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li *ngFor="let item of data;index as i;" data-target="#featured-recipes" [attr.data-slide-to]=i></li>
  </ol>
  <div class="carousel-inner">
    <div *ngFor="let item of data;first as isFirst" class="carousel-item" [class.active]="isFirst">
      <img class="d-block img-fluid w-100" src="{{item.image}}" alt="featured_recipe_image">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{item.title}}</h5>
        <p>{{item.description}}</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#featured-recipes" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#featured-recipes" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>