<div class="row mt-2" *ngIf="isEditorVisible">
  <div class="col-12">
    <h2 for="newRecipeTitle">Title</h2>
    <input type="text" class="w-100" id="newRecipeTitle" placeholder="Enter the title of the new recipe" name="title" [(ngModel)]="title">
    <small *ngIf="errors && errors.title" class="form-text text-danger">{{errors.title}}</small>
  </div>
    
  <div class="col-12">
    <h2 for="newRecipeStoryInput">Story</h2>
    <textarea class="story-input" id="newRecipeStoryInput" placeholder="Enter a description..." name="description" [(ngModel)]="description"></textarea>
    <small *ngIf="errors && errors.description" class="form-text text-danger">{{errors.description}}</small>
  </div>
    
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 float-left">
    <h2>Ingredients</h2>
    <div *ngIf="ingredients.length>0">
      <div class="d-flex justify-content-between mb-2" *ngFor="let ingredient of ingredients;let i=index">
        <input type="text" (ngModelChange)="pollServerForIngredient()" class=" ingredient-input" placeholder="Ingredient" name="ingredient" [(ngModel)]="ingredients[i].name">
        <input type="text" class=" ingredient-input" placeholder="Quantity" name="quantity" [(ngModel)]="ingredients[i].quantity">
        <button type="button" class="btn btn-sm btn-primary" (click)="removeIngredient(i)"><img src="./assets/minus.svg" alt="remove_ingredient"></button>
      </div>
    </div>
    <button type="button" class="w-100 btn btn-primary" (click)="addIngredient()" [disabled]="ingredients.length>19"><img src="./assets/plus.svg" alt="add_ingredient"></button>
  </div>
    
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <h2>Steps</h2>
    <div *ngIf="steps.length>0">
      <div class="d-flex justify-content-between mb-2" *ngFor="let step of steps;let i=index">
        <h2>{{i+1}}</h2>
        <textarea class="step-input" placeholder="Start typing" name="step" [(ngModel)]="steps[i].text"></textarea>
        <button type="button" class="btn btn-sm btn-primary" (click)="removeStep(i)"><img src="./assets/minus.svg" alt="remove_step"></button>
      </div>
    </div>
    <button type="button" class="btn btn-primary w-100" (click)="addStep()" [disabled]="steps.length>9"><img src="./assets/plus.svg" alt="add_ingredient"></button>
  </div>
  <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
    <h2>Miscellaneous info</h2>
    <div *ngIf="tags.length>0">
      <span class="tag d-inline-block bg-primary mt-1" *ngFor="let tag of tags;let i=index">
        {{tag}}
        <button (click)="removeTag(i)" type="button" class="close" aria-label="remove-tag-button">
          <span aria-hidden="true">&times;</span>
        </button>
      </span>
    </div>
    <div>
      <input type="text" class="w-75 float-left form-control" [(ngModel)]="tmpTag" placeholder="Enter a tag">
      <button type="button" class="btn btn-primary w-25" (click)="addTag()" [disabled]="tags.length>15 || tmpTag.length==0"><img src="./assets/plus.svg" alt="add_ingredient"></button>
    </div>
  </div>
    
  <div class="col-6 d-flex justify-content-end flex-column">
    <div class="d-flex justify-content-between">
      <span>Difficulty</span>
      <label><input type="radio" name="difficulty" value="veryEasy" [(ngModel)]="difficulty">Very Easy</label>
      <label><input type="radio" name="difficulty" value="easy" [(ngModel)]="difficulty">Easy</label>
      <label><input type="radio" name="difficulty" value="medium" [(ngModel)]="difficulty">Medium</label>
      <label><input type="radio" name="difficulty" value="hard" [(ngModel)]="difficulty">Hard</label>
    </div>
    <div class="d-flex justify-content-start">
      <span class="mr-2">Ready in</span>
      <input type="number" class="form-control ready-in-input" [(ngModel)]="readyIn">
      <span class="ml-2">minutes</span>
    </div>
  </div>
  <div class="col-6 mt-1">
    <button class="btn btn-small btn-primary w-100" (click)="attemptAddNewRecipe()">Save</button>
  </div>
  <div class="col-6 mt-1">
    <button class="btn btn-small btn-primary w-100" (click)="hideEditor()">Cancel</button>
  </div>
</div>
<div class="row mt-2">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
    <div class="card">
      <button [disabled]="isEditorVisible" class="h-100 w-100 btn btn-secondary" (click)="showEditor()">
        <img class="w-25 h-25" src="./assets/plus.svg" alt="plus_icon">
      </button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4" *ngFor="let card of myrecipes">
    <a [routerLink]="['/recipes', card.id]"><app-recipe-card [card]="card"></app-recipe-card></a>
  </div>
</div>