/* You can add global styles to this file, and also import other style files */
@import "assets/yeti.bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css?family=Lemonada:600');


html,body {
    height:100%;
    width:100%;
    max-width:100%;
    max-height:100%;
}

.form-control:focus{
    border-color: #32CD32;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.0), 0 0 8px #32CD32;
}

.form-control-sm:focus{
    border-color: #32CD32;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.0), 0 0 8px #32CD32;
}