<div class="col-12 d-flex py-2 mb-2 comment-container" *ngIf="data">
  <div class="w-75 text-justify">
    <p>{{data.text}}</p>
  </div>
  <div class="w-25 d-flex flex-column justify-content-start">
    <span class="mx-auto mb-2"># {{data.order}} </span>
    <img *ngIf="data.avatar" src={{data.user.avatar}} class="comment-user-avatar mx-auto">
    <img *ngIf="!data.avatar" src="./assets/person.svg" class="comment-user-avatar mx-auto">
    <span class="mx-auto">{{data.username}}</span>
    <span class="mx-auto">{{data.createdAt}}</span>
  </div>
</div>